/*
 * Chartsy - elegant, customizable, and interactive standalone charts for React
 * Omar Elghoul, 2025
 */

.chartsy-container {
    --chartsy-opacity-duration: 0.2s;

    position: relative;
    box-sizing: border-box;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    line-height: 1em;
    text-align: left;
}

.chartsy-container-toggle {
    --chartsy-data-duration: 0.4s;
}

.chartsy-container * {
    box-sizing: border-box !important;
}

.chartsy-xgrid {
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    left: 0;
    width: 100%;
}
