/*
 * Chartsy - elegant, customizable, and interactive standalone charts for React
 * Omar Elghoul, 2025
 */

.chartsy-container {
    position: relative;
    box-sizing: border-box;
    display: block;
}

.chartsy-container * {
    transition: all 0.2s ease-in-out;
}