/*
 * Chartsy - elegant, customizable, and interactive standalone charts for React
 * Omar Elghoul, 2025
 */

.chartsy-container {
    --chartsy-opacity-duration: 0.2s;

    position: relative;
    box-sizing: border-box;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    line-height: 1em;
    text-align: left;
}

.chartsy-container-toggle {
    --chartsy-data-duration: 0.4s;
}

.chartsy-container * {
    box-sizing: border-box !important;
}

.chartsy-xgrid {
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    left: 0;
}

.chartsy-ygrid {
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
}

.chartsy-error {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}