/*
 * Chartsy - elegant, customizable, and interactive standalone charts for React
 * Omar Elghoul, 2025
 */

.chartsy-scatterplot {
    height: 100%;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: transparent;
}

.chartsy-scatterplot-series {
    transition: opacity var(--chartsy-opacity-duration, 0) ease-in-out;
}

.chartsy-scatterplot-live .chartsy-scatterplot-series:hover {
    opacity: 0.7;
}

.chartsy-scatterplot-point {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
}
