/*
 * Chartsy - elegant, customizable, and interactive standalone charts for React
 * Omar Elghoul, 2025
 */

.chartsy-scatterplot {
    --chartsy-left-margin: 5em;

    height: 100%;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: transparent;
}

.chartsy-scatterplot-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chartsy-scatterplot-series {
    transition: opacity var(--chartsy-opacity-duration, 0) ease-in-out;
}

.chartsy-scatterplot-live:hover .chartsy-scatterplot-series:not(:hover) {
    opacity: 0.6;
}

.chartsy-scatterplot-point {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    transition: height var(--chartsy-data-duration, 0) ease-in-out,
        top var(--chartsy-data-duration, 0) ease-in-out,
        opacity var(--chartsy-data-duration, 0) ease-in-out;
    transform: translateY(-0.25em);
}

.chartsy-scatterplot-has-ylabels {
    margin-left: var(--chartsy-left-margin);
}

.chartsy-scatterplot-has-ylabels .chartsy-xgrid {
    left: var(--chartsy-left-margin);
    width: calc(100% - var(--chartsy-left-margin));
}

.chartsy-scatterplot-ylabel {
    position: absolute;
    left: 0;
    text-align: right;
    width: var(--chartsy-left-margin);
    text-overflow: clip;
    font-size: smaller;
    transform: translateY(-0.5em);
}

.chartsy-scatterplot-xlabel-container {
    position: absolute;
    left: 0;
    top: calc(100% + 1em);
    width: calc(100% - var(--chartsy-left-margin));
}

.chartsy-scatterplot-xlabel {
    position: absolute;
    top: calc(100% + 1em);
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: smaller;
    transform: translateX(var(--chartsy-left-margin));
}

.chartsy-scatterplot-ygrid-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chartsy-scatterplot-has-ylabels .chartsy-scatterplot-ygrid-container {
    width: calc(100% - var(--chartsy-left-margin));
}